* {
  margin: 0;
  box-sizing: border-box;
}

.App-header {
  background-color: #838383;
  min-height: 100vh;

  .App {
    padding: 0 50px;
  }
}

.PageMessage {
  width: 100%;
  display: flex;
  flex-direction: row;

  align-items: flex-start;
}

.MuiBox-root {
  width: 30%;
}

.ViewMessage {
  width: 70%;
}

.mesBlock {
  height: 80%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: inherit;
  width: 70%;
  position: fixed;
  top: 0;
}

.message {
  position: relative;

  max-width: 500px;
  background: #545454;
  margin: 20px 30px;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;

  .author {
    text-decoration: underline;
    color: #959595;
  }
}

.formMessage {
  position: fixed;
  bottom: 0px;
  height: 20%;
  align-items: center;
  display: flex;
  width: 70%;
  justify-content: space-evenly;


  * {
    font-size: 18px;
    color: white;
  }

  .txtmes {
    width: 50%;
    scale: 1.2;

  }

  button {
    scale: 1.2;
  }
}